# Virtual Environment
.venv/
venv/
ENV/

# Backup & scratch
sample_data_backup/
*.bak

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Testing & cache
.pytest_cache/
.coverage
htmlcov/

